pyyaml==3.10
django
djangorestframework
pillow
psycopg2-binary
python-decouple
django-filter
drf-yasg
gunicorn
djangorestframework-simplejwt
django-rest-passwordreset
coreapi
redis
celery
django-cachalot
docker
docker-compose
coreapi
django-cors-headers
django-ckeditor